<section id="projects">
    <div class="wrapper">
        <div class="text-center">
            <h1 class="blue-title">Work</h1>
        </div>
        <div id="vertical-timeline" class="light-timeline">

            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4><a href="https://www.amazon.com/Walls-Erin-N-Jones-ebook/dp/B00HJJNEZI/ref=sr_1_1?ie=UTF8&qid=1509935196&sr=8-1&keywords=walls+erin+jones">Young Adult Novel: Walls</a></h4>
                    <p>
						<span>Thirteen-year-old Rahab is broken. Forced into harlotry by her greedy father, she yearns to be loved for more than just her body. Not even the charming young man who comes to stay in her family's inn convinces her she's worth loving. But Rahab isn't the only one in Jericho who has a secret. When Israelite spies come with threats to destroy her city, Rahab must uncover her family's past in order to save their future.</span>
						<span><a href="https://www.amazon.com/Walls-Erin-N-Jones-ebook/dp/B00HJJNEZI/ref=sr_1_1?ie=UTF8&qid=1509935196&sr=8-1&keywords=walls+erin+jones">Find on Amazon</a></span>
					</p>
                </div>
            </div>
            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4><a href="https://library.loudoun.gov/Portals/0/Pdf/Write%20On%202017.pdf">Short Story: Shattered Glass</a></h4>
                    <p>
                        <span>The story of an undocumented immigrant from Mexico, a successful lawyer who yearns for children, and the broken Virgin Mary figurine that brings them together. This story won second place in the Loudoun County Library System's Write On! short story contest.</span>
						<span><a href="https://library.loudoun.gov/Portals/0/Pdf/Write%20On%202017.pdf">Read it here</a></span>
                    </p>
                </div>
            </div>
			<div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-balance-scale" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4><a href="https://www.lds.org/friend/2015/05/the-bad-mood-bus?lang=eng">Children's Story: The Bad-Mood Bus</a></h4>
                    <p>
						<span>Kylie's bus driver is always yelling at the kids on the bus. How could Kylie ever be nice to such a mean old grump?</span>
						<span><a href="https://www.lds.org/friend/2015/05/the-bad-mood-bus?lang=eng">Read in the <i>Friend</i></a><span>
					</p>
                </div>
            </div>
			<div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4>Other Children's Stories:</h4>
                    <p>Monkeyangelo</p>
					<p>Bart the Cactus</p>
                </div>
            </div>
			<div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                </div>
				<div class="vertical-timeline-content">
                    <h4>Coming Soon</h4>
					<h4>Middle Grade Novel: Lucky Me</h4>
                    <p>
						<span>Milly is tired of being seen as a big nothing next to her beautiful, popular older sister, Esther. And now that Esther has been diagnosed with cancer, the whole school is treating her like some kind of tragic heroine. Maybe auditioning for the school play will finally turn Milly into somebody—or maybe Esther will ruin that, too.</span>
					</p>
                </div>

            </div>			
			
		</div>
    </div>
</section>